* {
    margin: 0;
  }

  /*body*/
  body {
    background: url(img/sanbruno.jpg);
    background-repeat: no-repeat;
  }
  
  /*header*/
  header {
    border: 1px solid;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 999;
    line-height: 50px;
  }
  /*logo*/
  #logo {
    margin-top: 5px;
    height: 40px;
    float:left;
  }
  /*navigation bar*/
  nav {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  ul li {
    display: inline;
  }

  /*section*/
  #article-list {
    /*margin: 20px 250px;*/
    width: 800px;
    border: 1px solid;
    margin: auto;
  }
  h1 {
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
  }
  article h3 {
    margin-bottom: 20px;
  }
  section {
    padding-top: 80px;
    min-height: 800px;
  }
  article {
    border-bottom: 2px solid;
    padding: 20px;
  }
  article:last-child {
    border-bottom: 0px;
  }
  
  /*footer*/
  footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: white;
    background-color: black;
    line-height: 70px;
  }